@import '~bootstrap/dist/css/bootstrap.min.css';

.navbar-custom {
  background-color: #964B00; /* Color marrón */
}

.form-inline{
  margin-left: 50px;
}

.rounded-search {
  border-radius: 20px;
}

.navbar-nav {
  border-radius: 20px;
}

.custom-img {
  width: 500px; /* Establece el ancho de la imagen */
  height: 300px; /* Establece la altura de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio disponible, cortando la parte sobrante si es necesario */
  border-radius: 10px; /* Establece el border radius de la imagen */
}

.container {
  display: flex;  /* Estos comandos aseguran que las imágenes se centren en la mitad del contenedor */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.position-relative {
  position: relative;
}

.text-center {
  text-align: center;
}



.position-absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_img {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  background: rgba(152, 14, 14, 0.6);
  padding: 10px;
}

.TITULO_BIENVENIDA {
  color: rgb(255, 255, 255);
  border: 5px solid rgb(0, 0, 0);  /* Ancho y color del marco */
  padding: 20px;  /* Espacio entre el texto y el marco */
  display: inline-block;  /* Hace que el marco se ajuste al tamaño del texto */
  border-radius: 20px;
}

@media (max-width: 575.98px) {
  .navbar-brand img {
      width: 80px;
      height: 30px;
  }

  .navbar .form-inline .rounded-search {
      width: 200px;
  }

  .custom-img {
      width: 100%;
  }

  .text_img {
      font-size: 16px;
  }

  .navbar .navbar-custom div {
      width: 200px;
      height: 20px;
      font-size: 12px;
  }

  .navbar .rounded-circle {
      width: 30px;
      height: 30px;
  }

}

