.navbar-custom {
  background-color: #964B00; /* Color marrón */
}

.form-inline{
  margin-left: 50px;
}

.rounded-search {
  border-radius: 20px;
}

.navbar-nav {
  border-radius: 20px;
}

.custom-img {
  width: 500px; /* Establece el ancho de la imagen */
  height: 300px; /* Establece la altura de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio disponible, cortando la parte sobrante si es necesario */
  border-radius: 10px; /* Establece el border radius de la imagen */
}

.container {
  display: flex;  /* Estos comandos aseguran que las imágenes se centren en la mitad del contenedor */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text_img{
  font-family:arial black,Verdana, Tahoma, sans-serif;
  color: black;
  font-size: 40px;
  text-shadow: rgb(211, 157, 83) 4px 4px;
}

.TITULO_BIENVENIDA {
  border: 5px solid black;  /* Ancho y color del marco */
  padding: 20px;  /* Espacio entre el texto y el marco */
  display: inline-block;  /* Hace que el marco se ajuste al tamaño del texto */
  border-radius: 20px;
}

@media (max-width: 575.98px) {
  .navbar-brand img {
      width: 80px;
      height: 30px;
  }

  .navbar .form-inline .rounded-search {
      width: 200px;
  }

  .custom-img {
      width: 100%;
  }

  .text_img {
      font-size: 16px;
  }

  .navbar .navbar-custom div {
      width: 200px;
      height: 20px;
      font-size: 12px;
  }

  .navbar .rounded-circle {
      width: 30px;
      height: 30px;
  }
}
