<!-- <head>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>


  <div class="background"></div>
  <div class="container">
      <div class="item">
          <h2 class="logo"><i class='bx bxs-user'></i>Artezanal</h2>
          <div class="text-item">
              <h2>Bienvenido! <br><span>
                  Disfruta de la web!
              </span></h2>
              <p>Aqui puedes ver un ejemplo de como funciona un ingraso y registro a la cuenta de X persona</p>
              <div class="social-icon">
                  <a href="#"><i class='bx bxl-facebook'></i></a>
                  <a href="#"><i class='bx bxl-twitter'></i></a>
                  <a href="#"><i class='bx bxl-youtube'></i></a>
                  <a href="#"><i class='bx bxl-instagram'></i></a>
                  <a href="#"><i class='bx bxl-linkedin'></i></a>
              </div>
          </div>
      </div>
      <div class="login-section ">
          <div class="form-box login">
              <form action="">
                  <h2>Ingresar</h2>
                  <div class="input-box">
                      <span class="icon"><i class='bx bxs-envelope'></i></span>
                      <input type="email" required>
                      <label >Email</label>
                  </div>
                  <div class="input-box">
                      <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
                      <input type="password"  required>
                      <label>Clave</label>
                  </div>
                  <div class="remember-password">
                      <label for=""><input type="checkbox">Recuerda</label>
                      <a href="#">Olvidaste tu clave</a>
                  </div>
                  <button class="btn">Ingreso</button>
                  <div class="create-account">
                    <button class="register-link">resgistrar</button>
                      <p>Crear una cuenta nueva? <a href="#" class="register-link">Ingreso</a></p>
                  </div>
              </form>
          </div>

          <div class="form-box register ">
              <form action="">

                  <h2>Reguistro</h2>

                  <div class="input-box">
                      <span class="icon"><i class='bx bxs-user'></i></span>
                      <input type="text" required>
                      <label >Nombre de Usuario</label>
                  </div>
                  <div class="input-box">
                      <span class="icon"><i class='bx bxs-envelope'></i></span>
                      <input type="email" required>
                      <label >Email</label>
                  </div>
                  <div class="input-box">
                      <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
                      <input type="password" required>
                      <label>Clave</label>
                  </div>
                  <div class="remember-password">
                      <label for=""><input type="checkbox">Estoy de acuerdo con los terminos y condiciones</label>
                  </div>
                  <button class="btn">Ingreso</button>
                  <div class="create-account">
                      <p>Tienes una cuenta? <a href="#" class="login-link">Ingresa</a></p>
                  </div>
              </form>
          </div>

      </div>

  </div>
  <!-- Resto del contenido HTML -->

<script>
  const loginsec = document.querySelector('.login-section');
  const loginlink = document.querySelector('.login-link');
  const registerlink = document.querySelector('.register-link');

  registerlink.addEventListener('click', () => {
    loginsec.classList.add('active');
  });

  loginlink.addEventListener('click', () => {
    loginsec.classList.remove('active');
  });
</script>

</body>
 -->

 <section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control" />
                      <label class="form-label" for="form3Example1c">Your Name</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" />
                      <label class="form-label" for="form3Example3c">Your Email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4c" class="form-control" />
                      <label class="form-label" for="form3Example4c">Password</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4cd" class="form-control" />
                      <label class="form-label" for="form3Example4cd">Repeat your password</label>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-primary btn-lg">Register</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
