<section class="vh-100" style="background-size: cover;background-repeat: no-repeat; background-image:url('https://us.123rf.com/450wm/jayzynism/jayzynism1802/jayzynism180200087/96822057-fondo-abstracto-de-pol%C3%ADgonos-sobre-fondo-blanco.jpg');">

<div class="header">
  Usuarios Registrados
</div>

<ul class="user-list">
  <li *ngFor="let user of users">
    <div class="user-name">{{ user.name }}</div>
    <div class="user-info">
      <span>Correo: {{ user.email }}</span>
      <span>Teléfono: {{ user.phone }}</span>
    </div>
    <div class="user-actions">
      <button class="delete" (click)="deleteUser(user)">Eliminar</button>
      <button class="block" (click)="blockUser(user)">Bloquear</button>
    </div>
  </li>
</ul>
