<body>
  <div *ngIf="nombreUsuario">Bienvenido, {{ nombreUsuario }}</div>

  <div class="carrusel-uno">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/img/YCHX4PYU7JCPHCC225RNBI42YE.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="test">DESCRUBRE MAS SOBRE NOSOTROS Y NUESTRAS RUTAS</h1>
            <div class="button-container">
              <div class="button-wrapper">
                <a href="/ruta" id="but1" class="btn btn-primary">Rutas</a>
                <div class="button-frame1">
                  <p>"El Botón de Rutas: Tu guía instantánea hacia nuevas aventuras."</p>
                  <p>Esta opción te llevará hacia las opciones de rutas, como rutas enlistadas,agregar rutas.</p>
                </div>
              </div>
              <div class="button-wrapper">
                <a href="/nosotros" id="but2" class="btn btn-primary">Nosotros</a>
                <div class="button-frame2">
                  <p>"El Botón de Nosotros: Conéctate y descubre más de la comunidad de la cerveza Artezanal."</p>
                  <p>Esta opcion de nosotros te dara una breve información acerca de la comunidad de la cerveza Artezanal</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>
