<h1>Agregar Sitio</h1>

<div>
    <select [(ngModel)]="selectedSite" (change)="selectSite(selectedSite)">
        <option value="">Seleccione un sitio</option>
        <option *ngFor="let site of sites" [value]="site.value">{{ site.name }}</option>
    </select>
</div>

<button>Agregar Sitio</button>

<div *ngIf="selectedSite">
    <div class="site-info" *ngFor="let site of sites" [hidden]="selectedSite != site.value">
        <img [src]="site.img" [alt]="site.name" />
        <h2>{{ site.name }}</h2>
        <p>{{ site.description }}</p>
        <p>Ubicación: {{ site.location }}</p>
    </div>
</div>
