<form [formGroup]="rutaForm" (ngSubmit)="enviarFormulario()">
  <div>
    <label for="longitud">Longitud:</label>
    <input id="longitud" type="text" formControlName="longitud">
  </div>
  <div>
    <label for="latitud">Latitud:</label>
    <input id="latitud" type="text" formControlName="latitud">
  </div>
  <div>
    <label for="nombre">Nombre:</label>
    <input id="nombre" type="text" formControlName="nombre">
  </div>
  <div>
    <label for="informacion">Información:</label>
    <textarea id="informacion" rows="5" formControlName="informacion"></textarea>
  </div>
  <div>
    <label for="logo">URL del logo:</label>
    <input id="logo" type="text" formControlName="logo">
  </div>
  <button type="submit">Enviar</button>
</form>
