

<div class="contenedor bg-dark clas row p-3">
<div class="col" id="map"></div>

<form class="col" [formGroup]="rutaForm" (ngSubmit)="enviarFormulario()">
  <div class="nput-group mb-3">

    <input id="longitud" type="text" placeholder="longitud" formControlName="longitud">
  </div>
  <div class="nput-group mb-3">

    <input id="latitud" type="text" placeholder="latitude" formControlName="latitud">
  </div>
  <div class="nput-group mb-3">

    <input id="nombre" type="text" placeholder="Nombre" formControlName="nombre">
  </div>
  <div class="nput-group mb-3">

    <textarea id="informacion" rows="5" placeholder="Informacion" formControlName="informacion"></textarea>
  </div>
  <div class="nput-group mb-3">

    <input id="logo" type="text" placeholder="URL del logo:" formControlName="logo">
  </div>
  <button class="btn-lg text-center btn-warning" type="submit">Enviar</button>
</form>
</div>


